@page "/person/overview/{Id}"
@using Workspace.Blazor.ViewModels.Features.Person.Edit
@inject PageViewModel ViewModel

<PageTitle>People</PageTitle>

@if (this.ViewModel.LoadCommand.IsRunning)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
}
else
{
    @ViewModel.Selected.FirstName

    <div>
        <NavLink href="@Edit()">edit</NavLink>
    </div>
}

@code {

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await this.ViewModel.LoadCommand.ExecuteAsync(long.Parse(this.Id));
    }

    private object Edit() => $"/person/edit/{Id}";
}